/***********Footer**************/
footer{
    text-align: center;
    background: #bb8a2f;
    padding: 1vw; 
 /*   width:100%;
    position: absolute;
    bottom: 0%;*/

}

.footer_text{
    font-size: 0.8rem;
    font-style: italic;

}

