* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
main {
    background-color: rgb(202, 202, 200);
    padding: 2vw;
    color:rgb(139, 129, 129);  
    text-align: center;
}

li a{
  color:white;  
}

li a:hover{
    color:rgb(185, 183, 183);  
  }


.mi_lista{
    font-size: 1rem;
    list-style-type:none;
    color:black;
}

.mi_aside{
    padding:1vw;
    background-color: white;

}
ul li{
    list-style-type:none;
}
